.projects {
  & > h1 {
    font-size: 4rem;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90rem;
    margin: 5rem;

    @media only screen and (max-width: 56.25em) {
      grid-template-columns: 1fr;
    }
  }
}
