@import "../../sass/variables";
@import "../../sass/animations";
@import "../../sass/mixin";

#projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-gap: 4rem;
  justify-content: center;
  align-items: center;
}



.tab {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #fdefef;
  align-items: center;
  grid-gap: 1.5rem;
  max-width: 40rem;
  margin: 0 auto;

  &__title {
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff5ab;
    padding: 1.2rem 1.5rem;
    border: none;
    cursor: pointer;

    &:focus-visible {
      border: none;
    }

    &.active {
      border-bottom: 3px solid #f7fd04;
    }
  }
}
