@import "../../sass/variables";
@import "../../sass/animations";

#projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.technology {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.2rem;
      grid-gap: 1rem;
      cursor: pointer;

      & > small {
        display: none;
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 1.2px;
        color: darken($secondary-color, 10%);
      }

      &:hover small {
        display: block;
        animation: moveInBottom 0.3s linear;
      }

      &:hover {
        border-bottom: 3px solid $secondary-color;
      }
    }
  }
}
