@import "../../sass/variables";
@import "../../sass/mixin";

.home {
  @media only screen and (max-width: 31.25em) {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
  }

  &__margin {
    margin: 2rem 0 !important;
  }

  &#home {
    overflow: hidden;

    .home__heading {
      margin-top: 20vh;

      @media only screen and (max-width: 31.25em) {
        line-height: 1;
      }
    }
  }

  padding: 4rem;
  height: 100%;

  &__heading {
    font-size: 6rem;

    &--secondary {
      color: $secondary-color;
    }
  }

  &__sub-heading {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.3);
  }

  &__icons {
    margin-top: 1rem;
    display: flex;
    grid-gap: 1rem;

    & > * {
      color: #fff;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}
