@import "../../sass/variables";
@import "../../sass/mixin";

.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  margin: 0 auto;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
    grid-gap: 4rem;
    text-align: center;
    padding: 0 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }

  &__logos {
    display: flex;
    grid-gap: 1rem;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      justify-content: center;
    }
  }

  &__content {
    font-size: 1.8rem;
    font-weight: 500;
    color: darken($secondary-color, 0.9);
  }
}

.form {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;

  & > div:nth-child(1) {
    display: flex;
    grid-gap: 1rem;

    @media only screen and (max-width: 31.25em) {
      flex-direction: column;
    }
  }

  &__input,
  &__text-area {
    border: none;
    border-radius: 5px;
    padding: 1.2rem 2.5rem;
    color: #fff;
    border: 3px solid $secondary-color;
    background-color: darken($color-black, 5);
    opacity: 0.8;
    margin-bottom: 1rem;
    font-size: 1.3rem;

    &:focus {
      outline: none;
    }
  }

  &__text-area {
    width: 100%;
  }

  &__button {
    display: flex;
    grid-gap: 1rem;
    align-self: center;
    align-items: center;
    border: 3px solid $secondary-color;
    border-radius: 10px;
    padding: 1.2rem 2rem;
    color: $primary-color;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    @include easeOut;

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }

  &__control {
    position: relative;
    & small {
      display: flex;
      position: absolute;
      bottom: -1rem;
      font-size: 1.3rem;
      font-weight: 600;
      font-style: italic;
      color: red;
    }

    & img {
      position: absolute;
      top: 40%;
      right: 1rem;
      transform: translateY(-50%);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #fff !important;
}
