@import "../../sass/variables";
@import "../../sass/mixin";

.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  margin: 0 auto;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
    grid-gap: 4rem;
    text-align: center;
    padding: 0 1rem;
  }

  @media only screen and (max-width: 31.25em) {
    align-items: unset;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }

  &__logos {
    display: flex;
    grid-gap: 1rem;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      justify-content: center;
    }
  }

  &__content {
    font-size: 2rem;
    font-weight: 500;
    color: darken($secondary-color, 0.9);
  }
}

